<footer class="text-white py-4 mt-5" style="background-color: #0a2c5f;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Club Deportivo Independencia</h5>
          <p>Dirección: Av. Principal 123<br>
             Teléfono: (123) 456-7890<br>
             Email: infoclubdeportivo.com</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/" class="text-white text-decoration-none">Inicio</a></li>
            <li><a routerLink="/news" class="text-white text-decoration-none">Noticias</a></li>
            <li><a routerLink="/teams" class="text-white text-decoration-none">Equipos</a></li>
            <li><a routerLink="/member-form" class="text-white text-decoration-none">Hacerse Socio</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">Síguenos</h5>
          <div class="d-flex flex-column gap-3">
            <a href="https://www.instagram.com/club.deportivo.independencia/" target="_blank" class="icon-link icon-link-hover text-white text-decoration-none">
                <i class="bi bi-instagram"></i> Instagram
            </a>
            <a href="https://www.facebook.com/ClubDeportivoIndependenciaNvaCba" target="_blank" class="icon-link icon-link-hover text-white text-decoration-none">
                <i class="bi bi-facebook"></i> Facebook
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p class="mb-0">© 2025 Club Deportivo Independencia. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>