
<div class="container mt-4">
    <h2>Cargar una noticia</h2>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" class="form-control" id="title" formControlName="title" required>
          @if (newsForm.get('title')?.invalid && newsForm.get('title')?.touched) {
            @if (newsForm.get('title')?.errors?.['required']) {
              <small class="text-danger ms-2">Requerido</small>
            }
            @if (newsForm.get('title')?.errors?.['minlength']) {
              <small class="text-danger ms-2">Al menos 5 caracteres</small>
            }
          }
        </div>
      
        <div class="mb-3">
          <label for="summary" class="form-label">Resumen</label>
          <input type="text" class="form-control" id="summary" formControlName="summary" required>
          @if (newsForm.get('summary')?.invalid && newsForm.get('summary')?.touched) {
            @if (newsForm.get('summary')?.errors?.['required']) {
              <small class="text-danger ms-2">Requerido</small>
            }
            @if (newsForm.get('summary')?.errors?.['minlength']) {
              <small class="text-danger ms-2">Al menos 5 caracteres</small>
            }
          }
        </div>
      
        <div class="mb-3">
          <label for="content" class="form-label">Contenido</label>
          <textarea class="form-control" id="content" formControlName="content" rows="5" required></textarea>
          @if (newsForm.get('content')?.invalid && newsForm.get('content')?.touched) {
            @if (newsForm.get('content')?.errors?.['required']) {
              <small class="text-danger ms-2">Requerido</small>
            }
            @if (newsForm.get('content')?.errors?.['minlength']) {
              <small class="text-danger ms-2">Al menos 10 caracteres</small>
            }
          }
        </div>
      
        <div class="row">
          <div class="col-4 mb-3">
            <label for="date" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="date" formControlName="date" required>
            @if (newsForm.get('date')?.invalid && newsForm.get('date')?.touched) {
              @if (newsForm.get('date')?.errors?.['required']) {
                <small class="text-danger ms-2">Requerido</small>
              } @else if (newsForm.get('date')?.errors) {
                <small class="text-danger ms-2">Fecha inválida</small>
              }
            }
          </div>
        
          <div class="col-6 mb-3">
            <label for="image" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="image" (change)="onFileChange($event)" accept="image/*" required>
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary" [disabled]="newsForm.invalid">Cargar noticia</button>
      </form>
      
  </div>






  <!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="responseToast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body d-flex align-items-center">
        <span id="toastIcon" class="me-2"></span>
        <span id="toastBody">Mensaje del toast</span>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>