<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Gestión de Cuotas</h2>
    <button class="btn btn-outline-primary" (click)="openSendEmailsModal()">
      <i class="bi bi-envelope"></i> Enviar recordatorios de pago
    </button>
  </div>

  <div class="alert alert-info d-flex align-items-center">
    <i class="bi bi-info-square me-2 fs-3"></i>
    <p class="mx-2">
      Al crear una nueva cuota, se generan automáticamente las órdenes de pago para todos los socios activos.
      Recuerda enviar luego los recordatorios por correo electrónico.
    </p>
  </div>

  <!-- Formulario -->
  <form [formGroup]="feeForm" (ngSubmit)="openCreateFeeModal()" class="mb-4">
    <div class="row g-3 align-items-end">
      <div class="col-md-3">
        <label for="amount" class="form-label">Monto</label>
        <select formControlName="month" class="form-select">
          <option [ngValue]="null">Seleccionar mes</option>
          @for(monthName of monthNames; track $index) {
            <option [ngValue]="$index + 1">
              {{ monthName }}
            </option>
          }
        </select>
      </div>

      <div class="col-md-3">
        <label for="year" class="form-label">Año</label>
        <input type="number" formControlName="year" class="form-control" />
      </div>

      <div class="col-md-3">
        <label for="amount" class="form-label">Monto</label>
        <input type="number" formControlName="amount" class="form-control" />
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100" type="submit" 
            [disabled]="feeForm.invalid"
        >
            Crear cuota y generar pagos
        </button>
      </div>
    </div>
  </form>

  <!-- Error -->
   @if(errorMessage) {
       <div class="alert alert-danger">
         {{ errorMessage }}
       </div>
   }

  <!-- Lista de Cuotas -->
  <h3 class="my-2">Cuotas generadas</h3>

  <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered table-hover">
      <thead class="table-light sticky-top bg-light">
        <tr>
          <th>Mes</th>
          <th>Año</th>
          <th>Monto</th>
          <th>Pagos Emitidos</th>
          <th>Pagos Cobrados</th>
        </tr>
      </thead>
      <tbody>
        @for(fee of fees; track fee) {
          <tr>
            <td>{{ monthNames[fee.month - 1] }}</td>
            <td>{{ fee.year }}</td>
            <td>$ {{ fee.amount | number : "1.2-2" }}</td>
            <td>{{fee.issuedCount}}</td>
            <td>{{fee.paidCount}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>



<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="responseToast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body d-flex align-items-center">
        <span id="toastIcon" class="me-2"></span>
        <span id="toastBody">Mensaje del toast</span>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<!-- Modal Angular sin Bootstrap JS -->
 @if(isModalVisible) {
   <div class="modal-backdrop-custom">
     <div class="modal-dialog-custom">
       <div class="modal-content">
         <div class="modal-header bg-tertiary">
           <h5 class="modal-title">{{ modalTitle }}</h5>
           <button type="button" class="btn-close" (click)="closeModal()"></button>
         </div>
         <div class="modal-body">
           {{ modalMessage }}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary me-1" (click)="closeModal()">Cancelar</button>
           <button type="button" class="btn btn-primary" (click)="modalConfirm()">
            @if(!modalLoading) {
              <span>Confirmar</span>
            } @else if (modalLoading) {
              <span>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                Procesando...
              </span>
            }
           </button>
         </div>
       </div>
     </div>
   </div>
 }