<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="logo_simple-removebg-preview.png" alt="Club Logo"  style="width: 80px; height: auto;">
      <a class="navbar-brand" href="#">Club Independencia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/news']" routerLinkActive="router-link-active" >Noticias</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Deportes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/teams/BASKETBALL">Basquet</a></li>
              <li><a class="dropdown-item" href="/teams/FOOTBALL">Futbol</a></li>
              <li><a class="dropdown-item" href="/teams/VOLLEYBALL">Voley</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member-form">Asociate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/members">Socios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/payments">Pagos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/payments/pay">Pagar Cuota</a>
          </li>
        </ul>
        <ul class="navbar-nav">          
          <li class="nav-item me-4">
            @if(isLoggedIn) {
              <button class="nav-link" (click)="logout()">Cerrar Sesión</button>
            } @else {
              <a class="nav-link" href="/login">Iniciar Sesión</a>
            }
          </li>
        </ul>
      </div>
    </div>
  </nav>