<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5>Crear Usuario</h5>
    </div>
    <div class="card-body row g-3">
      <div class="col-md-6">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="name" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="lastName" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="col-md-6">
        <label class="form-label">Contraseña</label>
        <input type="text" class="form-control" formControlName="password">
      </div>

      <div class="col-md-6">
        <label class="form-label">Tipo</label>
        <select class="form-select" formControlName="type" required>
          <option value="">Seleccione un tipo</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
      
    </div>
    <div class="card-footer text-end">
      <button type="submit" class="btn btn-primary" >Guardar</button>
    </div>
  </div>
</form>
