<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">socio</th>
        <th scope="col">cuota</th>
        <th scope="col">fecha</th>
        <th scope="col">estado</th>
        <th scope="col">método</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        @for(payment of paymentsArray; track payment) {
            <tr>
                <th scope="row">{{payment.id}}</th>
                <td>{{payment.member.name}}</td>
                <td>{{payment.fee.month}} / {{payment.fee.year}}</td>
                <td>{{payment.paymentDate | date}}</td>
                <td>{{ translatePaymentStatus(payment.status) }}</td>
                <td>{{ translatePaymentMethod(payment.method) }}</td>
            </tr>
        }
      
    </tbody>
  </table>