
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="m-3 mb-5">Pagar Cuota de Socio</h3>
            <form class="d-flex" [formGroup]="form" (ngSubmit)="searchPayment()">
                <div class="input-group">
                    <input class="form-control form-control-lg" formControlName="memberDni" type="search" placeholder="Ingresa tu n° de DNI" aria-label="Search">
                    <button class="btn btn-primary px-4" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <!-- 
            @if(payment) {
                @if(payment.status == 'PENDING') {
                    <h5>Vas a pagar la cuota N° {{payment.id}}</h5>
                    <h5>Socio Nombre: {{payment.member.name}} {{payment.member.lastName}}</h5>
                    <h5>Total --- $ {{payment.fee.amount}}</h5>
                    <button class="btn btn-outline-success">Ir a Pagar</button>
                } @else if(payment.status == 'APPROVED') {
                    <h5>La cuota N° {{payment.id}} ya se encuentra pagada</h5>
                } @else {
                    <h5>La cuota N° {{payment.id}} fue cancelada. Comunicate con la administración para mas información</h5>
                }
            }
            -->

            @if(searched) {
                @if(loading) {
                    <p>Buscando cuotas</p>
                } @else {
                    @if(payments.length > 0) {
                        <h5>Hola {{member?.name}}</h5>
                        @for(paym of payments; track paym) {
                            <li>Cuota N°: {{ paym.id }} ------  ${{paym.fee.amount}}</li>
                        }
                    } @else {
                        <h5>No se encuentran cuotas pendientes a pagar</h5>
                    }
                    }
            } @else {
                <h6>Busca tus cuotas pendientes con tu número de documento</h6>
            }
        </div>
    </div>
</div>